*{
    padding: 0px;
    margin: 0px;
}
.box{
    width: 500px;
    height: 500px;
    border: 2px solid black;
    margin: 50px auto;
    border-radius: 20px;
}
ul{
    overflow: hidden;
}
li{
    list-style: none;
    width: 80px;
    height: 50px;
    border: 2px solid black;
    float: left;
    margin-left: 36px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
}
#text{
    width: 100%;
    height: 30px;
    /* background: red; */
    margin-top: 20px;
    line-height: 30px;
    text-indent: 30px;
}
#out{
    width: 100px;
    height: 150px;
    border: 2px solid black;
    margin: 200px auto;
    border-radius: 10px 10px 0 0 ;
}
#out p{
    text-align: center;
    margin-top: 10px;
    color: red;
}
#out img{
    width: 100%;
}